*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #222;
  font-family: "Readex Pro", sans-serif;
  direction: rtl;
  transition: 0.50s;
  font-weight: bold;
}
h1{
  color: #b80000;
}
body{
  background: #00c3ff;
  display: grid;
  height: 100vh;
  place-items: center;
}

.open-box{
  width: 40vh;
  height: 300px;
  display: grid;
  place-items: center;
  position: absolute;
  background: #0059ff;
  padding: 5px;
  border-radius: 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  box-shadow: 0px 0px 20px #00000033;
}
.open-box svg{
  height: 100px;
  fill: #ccdeff;
  cursor: pointer;
}

.box{
  width: 40vh;
  height: 300px;
  display: grid;
  place-items: center;
  position: absolute;
  background: url(bg.jpg) #0059ff;
  background-size: 100% 100%;
  padding: 5px;
  border-radius: 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  box-shadow: 0px 0px 20px #00000033;
  display: none;
}
.hearts{
  position: absolute;
  top: 0px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.hearts svg{
  fill: #f5000065;
  width: 40px;
  height: 70px;
}
#btm-hearts{
  bottom: -220px;
}